
body {
    margin: 0;
    padding: 25px;
}

.box1{
    width: 100%;
    border: 5px solid black;
    padding: 15px;
    box-sizing: border-box;
}

.square1{
    height: 15vh;
    width: 3vw;
    background-color: rgb(197, 54, 197);
    display: inline-block;
}

.square2{
    height: 200px;
    width: 400px;
    background-color: rgb(11, 58, 11);
    margin: 0 50px;
    display: inline-block;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: lightskyblue;
    display: inline-block;
}

.box2{
    width: 100%;
    border: 5px dotted black;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 50px;
}
.square3 {
    height: 200px;
    width: 100%;
    background-color: rgb(216, 216, 152);
    box-shadow: 6px 8px 2px 1px rgba(104, 104, 104, 0.932);
    margin: auto;
}

.box3{
    width: 50%;
    background-color: white;
    border: 1px solid grey;
    padding: 100px;
    box-sizing: border-box;
    margin: 25px auto;
    box-shadow: 3px 3px 5px 0px rgba(2, 2, 2, 0.25);
}

.box3 h1{
    width: 100%;
    text-align: center;
    color: rgb(18, 18, 175);
    letter-spacing: 10px;
}



/* nav {
    background-color: #000;
    height: 10vh;
    padding: 15px 30px;
  }
  
  .nav-boxes {
    background-color: #fff;
    height: 100%;
    display: inline-block;
  }
  .left-nav-box {
    width: 15%;
  }
  .right-nav-box {
    width: 30%;
    float: right;
  }
  main {
    min-height: 90vh;
    background-color: lightgray;
    padding-top: 35px;
  }
  .container {
    margin: auto;
    background-color: black;
    width: 60%;
    height: 65vh;
  }
  p {
    color: white;
    text-align: center;
  } */